body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 20px;
}

#category-section {
    margin-bottom: 20px;
}

#category {
    padding: 8px;
    margin-right: 10px;
    width: 50%;
}

#filter-button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#filter-button:hover {
    background-color: #45a049;
}

#loading {
    text-align: center;
    font-size: 18px;
    color: #333;
    display: none;
}

#sentiment-section {
    margin-top: 20px;
}

.sentiment {
    font-weight: bold;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Responsive design for mobile */
@media only screen and (max-width: 600px) {
    #category-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #category, #custom-category, #filter-button {
        width: 80%;
        margin-bottom: 10px;
    }

    #news-section {
        font-size: 14px;
    }

    footer {
        font-size: 12px;
    }
}

/* Responsive design for tablets */
@media only screen and (max-width: 900px) {
    #category-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #category, #custom-category, #filter-button {
        width: 70%;
        margin-bottom: 10px;
    }
}